<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/css/backup2.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#317EFB"/>
    <link rel="shortcut icon" type="image/x-icon" href="public/favicons/city_of_petoskey.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="This is Petoskey's mobile progressive web application. We hope that you find
    this application helpful."/>
    <title>City of Petoskey</title>
</head>
<body>