<% include ./public/views/header.ejs %>

<div id="outer">
    <div id="top">
        <img src="./public/images/Petoskey2.png" height="90" width="1350" alt="Downtown Petoskey"/>
    </div>
    <div id="top2">
        <div id="top2-left">
            <div id="logo">
                <img src="./public/images/petoskey.png" height="60" width="60" alt="City of Petoskey Logo"/>
            </div>
            <div id="logotext">
                <h2>City of Petoskey Municipal Webpage</h2>
            </div>
        </div>
        <div id="top2-right">
            <div id="login">
                <div id="login-button">
                    <h4>Log In</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="middle-bottom">
        <div id="mdleft">
            <div id="mdleft-top">
                <div class="header">
                    <p>Tourism Guide</p>
                </div>
                <div class="imagediv">
                    <img class="image" src="./public/images/Petoskey-Stone-Hunting-1.png" height="140" width="590" alt="Tourists
                    searching for Petoskey stones near the breakwall"/>
                </div>
                <div class="content">
                    <p>             Petoskey is an activity filled
                        area regardless of the season.  In the winter
                        explore the many nearby ski resorts or shop
                        downtown.  In the summer enjoy our amazing
                        golf courses,
                        swimming pools, beaches, dinning, and much
                        more.  The surrounding communities have a
                        lot to offer
                        as well, with indoor waterparks, bowling,
                        and even laser tag, you'll never be bored.
                        This is only a brief synopsis of what
                        Petoskey can do
                        for you, for a more in depth look
                        click on the link below.</p>
                    <div class="link">
                        <a href="https://www.petoskeyarea.com/">Complete Petoskey Area Tour Guide</a>
                    </div>
                </div>
            </div>
            <div id="mdleft-bottom">
                <div class="header">
                    <p>Parks and Recreation</p>
                </div>
                <div class="imagediv">
                    <img class=image src="./public/images/parks_and_rec.png" height="195" width="460" alt="Petoskey Little League"/>
                </div>
                <div class="content">
                    <p>             Petoskey has many great parks and
                        recreational activities to partake in.
                        From sailing to soccer to skiing and
                        more you'll never be bored in good ole P-Town.
                        Parks all around the city provide great
                        areas to walk and play, many dog parks
                        also exist right
                        around the water if your pets want to go
                        for a swim.  For more information on our
                        little league and other recreation
                        programs click the links below. </p>
                    <div class="link">
                        <a href="https://petoskey.recdesk.com/Community/Home">Petoskey Parks and Recreation</a>
                    </div>
                    <div class="link">
                        <a href="http://petoskeylittleleague.org/">Petoskey Little League</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mdright">
            <div id="report">
                <div id="report-button">
                    <h3>Report an Issue</h3>
                </div>
            </div>
            <div id="signup">
                <div id="title">
                    <h1>Sign Up For:</h1>
                </div>
                <div id="list">
                    <div id="one">
                        <p>5k Run</p>
                    </div>
                    <div id="two">
                        <p>Little League</p>
                    </div>
                    <div id="three">
                        <p>Community Forum</p>
                    </div>
                    <div id="four">
                        <p>Open House Set Up</p>
                    </div>
                    <div id="five">
                        <p>Mana Food Project</p>
                    </div>
                    <div id="six">
                        <p>Festival By the Bay Set Up</p>
                    </div>
                    <div id="seven">
                        <p>Petoskey Soccer Invitational</p>
                    </div>
                    <div id></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./public/javascripts/municipal.js" type="module"></script>

<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/serviceworker.js')
            .then(function() { console.log("Service Worker Registered"); });
    }
</script>

<% include ./public/views/footer.ejs %>