#mdright {
  display: flex;
  width: 425px;
  height: 1270px;
  flex-direction: column;
}

#report {
  display: flex;
  height: 240px;
  width: 425px;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
}

#report-button {
  display: flex;
  width: 260px;
  height: 115px;
  font-family: Arial;
  justify-content: center;
  color: white;
  background-color: darkred;
  border-radius: 12px;
  padding-top: 60px;
  border: 1px solid grey;
}

#report-button:hover {
  background-color: red;
}

#signup {
  display: flex;
  border: 1px solid grey;
  height: 550px;
  width: 425px;
  flex-direction: column;
  border-radius: 5px;
}

#title {
  width: 425px;
  height: 100px;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

#list {
  display: flex;
  justify-content: center;
  font-family: Arial;
  flex-direction: column;
  align-content: center;
}

#one {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#two {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#three {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#four {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#five {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#six {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#seven {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 2560px) {

  #mdright {
    display: flex;
    width: 425px;
    height: 1270px;
    flex-direction: column;
  }

  #report {
    display: flex;
    height: 240px;
    width: 425px;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
  }

  #report-button {
    display: flex;
    width: 260px;
    height: 115px;
    font-family: Arial;
    justify-content: center;
    color: white;
    background-color: darkred;
    border-radius: 12px;
    padding-top: 60px;
    border: 1px solid grey;
  }

  #report-button:hover {
    background-color: red;
  }

  #signup {
    display: flex;
    border: 1px solid grey;
    height: 550px;
    width: 425px;
    flex-direction: column;
    border-radius: 5px;
  }

  #title {
    width: 425px;
    height: 100px;
    font-family: Arial;
    display: flex;
    justify-content: center;
  }

  #list {
    display: flex;
    justify-content: center;
    font-family: Arial;
    flex-direction: column;
    align-content: center;
  }

  #one {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #two {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #three {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #four {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #five {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #six {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #seven {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }
}
/*# sourceMappingURL=bottom-right.css.map */
