
#top {
  display: flex;
  width: 1350px;
  height: 140px;
}

#top2 {
  display: flex;
  width: 1360px;
  height: 90px;
  position: sticky;
  top: 0;
}

#top2-left {
  display: flex;
  width: 675px;
  height: 90px;
  background-color: #e8e8e8;
  position: sticky;
}

#top2-right {
  display: flex;
  width: 675px;
  height: 90px;
  background-color: #e8e8e8;
  justify-content: flex-end;
  position: sticky;
}

#logo {
  padding: 15px;
}

#logotext {
  padding: 15px;
  font-family: Arial;
}

#login {
  display: flex;
  height: 10px;
  width: 70px;
  padding-top: 25px;
  padding-right: 20px;
  background-color: #e8e8e8;
  color: #e8e8e8;
  font-family: Arial;
}

#login-button {
  display: flex;
  justify-content: center;
  background-color: darkblue;
  height: 25px;
  width: 70px;
  padding-bottom: 30px;
  border-radius: 10px;
}

#middle-bottom {
  display: flex;
  background-color: white;
  width: 1350px;
  height: 1270px;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Arial;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.imagediv {
  display: flex;
  height: 210px;
  width: 925px;
  justify-content: center;
}

.image {
  border-radius: 7px;
}

.content {
  height: 325px;
  width: 845px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Arial;
  font-size: 20px;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#mdleft {
  display: flex;
  width: 925px;
  height: 1270px;
  flex-direction: column;
}

#mdleft-top {
  display: flex;
  width: 925px;
  height: 635px;
  justify-content: center;
  flex-direction: column;
}

#mdleft-bottom {
  display: flex;
  width: 925px;
  height: 635px;
  justify-content: center;
  flex-direction: column;
}

#mdright {
  display: flex;
  width: 425px;
  height: 1270px;
  flex-direction: column;
}

#report {
  display: flex;
  height: 240px;
  width: 425px;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
}

#report-button {
  display: flex;
  width: 260px;
  height: 115px;
  background-image: url("../images/speech_bubbles_me_too_1050x700.jpg");
  font-family: Arial;
  justify-content: center;
  color: white;
  border-radius: 12px;
  padding-top: 60px;
  border: 1px solid grey;
}

#report-button:hover {
  background-image: url("../images/speech_bubbles_me_too_1050x700_2.jpg");
}

#signup {
  display: flex;
  border: 1px solid grey;
  height: 550px;
  width: 425px;
  flex-direction: column;
  border-radius: 5px;
}

#title {
  width: 425px;
  height: 100px;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

#list {
  display: flex;
  justify-content: center;
  font-family: Arial;
  flex-direction: column;
  align-content: center;
}

#one {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#two {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#three {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#four {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#five {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#six {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#seven {
  width: 425px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#outer {
  display: flex;
  width: 425px;
  height: 500px;
  flex-direction: column;
  margin-left: -10px;
  margin-top: -8px;
}



@media only screen and (min-width: 2560px) {

  #top {
    display: flex;
    width: 1350px;
    height: 140px;
  }

  #top2 {
    display: flex;
    width: 1360px;
    height: 90px;
    position: sticky;
    top: 0;
  }

  #top2-left {
    display: flex;
    width: 675px;
    height: 90px;
    background-color: #e8e8e8;
    position: sticky;
  }

  #top2-right {
    display: flex;
    width: 675px;
    height: 90px;
    background-color: #e8e8e8;
    justify-content: flex-end;
    position: sticky;
  }

  #logo {
    padding: 15px;
  }

  #logotext {
    padding: 15px;
    font-family: Arial;
  }

  #login {
    display: flex;
    height: 10px;
    width: 70px;
    padding-top: 25px;
    padding-right: 20px;
    background-color: #e8e8e8;
    color: #e8e8e8;
    font-family: Arial;
  }

  #login-button {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    height: 25px;
    width: 70px;
    padding-bottom: 30px;
    border-radius: 10px;
  }

  #middle-bottom {
    display: flex;
    background-color: white;
    width: 1350px;
    height: 1270px;
    flex-direction: row;
  }

  .header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Arial;
    flex-direction: row;
    height: 100px;
    width: 100%;
  }

  .imagediv {
    display: flex;
    height: 210px;
    width: 925px;
    justify-content: center;
  }

  .image {
    border-radius: 7px;
  }

  .content {
    height: 325px;
    width: 845px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: Arial;
    font-size: 20px;
  }

  .link {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #mdleft {
    display: flex;
    width: 925px;
    height: 1270px;
    flex-direction: column;
  }

  #mdleft-top {
    display: flex;
    width: 925px;
    height: 635px;
    justify-content: center;
    flex-direction: column;
  }

  #mdleft-bottom {
    display: flex;
    width: 925px;
    height: 635px;
    justify-content: center;
    flex-direction: column;
  }

  #mdright {
    display: flex;
    width: 425px;
    height: 1270px;
    flex-direction: column;
  }

  #report {
    display: flex;
    height: 240px;
    width: 425px;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
  }

  #report-button {
    display: flex;
    width: 260px;
    height: 115px;
    background-image: url("../images/speech_bubbles_me_too_1050x700.jpg");
    font-family: Arial;
    justify-content: center;
    color: white;
    border-radius: 12px;
    padding-top: 60px;
    border: 1px solid grey;
  }

  #report-button:hover {
    background-image: url("../images/speech_bubbles_me_too_1050x700_2.jpg");
  }

  #signup {
    display: flex;
    border: 1px solid grey;
    height: 550px;
    width: 425px;
    flex-direction: column;
    border-radius: 5px;
  }

  #title {
    width: 425px;
    height: 100px;
    font-family: Arial;
    display: flex;
    justify-content: center;
  }

  #list {
    display: flex;
    justify-content: center;
    font-family: Arial;
    flex-direction: column;
    align-content: center;
  }

  #one {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #two {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #three {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #four {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #five {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #six {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #seven {
    width: 425px;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  #outer {
    display: flex;
    width: 1350px;
    height: 1500px;
    flex-direction: column;
    margin-left: -10px;
    margin-top: -8px;
  }

}



/*# sourceMappingURL=main.css.map */
